flows (1).json
[{"id":"23b38645.a08baa","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"364ab946.b91776","type":"ui_form","z":"23b38645.a08baa","name":"","label":"","group":"282149bd.e3ebf6","order":1,"width":0,"height":0,"options":[{"label":"Enter your input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":170,"y":240,"wires":[["cb0f50ed.afce3"]]},{"id":"cb0f50ed.afce3","type":"function","z":"23b38645.a08baa","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":180,"wires":[["53082007.671d2","2f07cea1.5f0ed2"]]},{"id":"cda53612.b4ca58","type":"function","z":"23b38645.a08baa","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":180,"wires":[["f901db52.f6b358"]]},{"id":"53082007.671d2","type":"watson-conversation-v1","z":"23b38645.a08baa","name":"Customer care","workspaceid":"02611b1a-5af1-4968-9fc8-c46646dd11ff","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/8424319f-d999-4cd5-8173-f02d72ee203b","timeout":"","optout-learning":false,"x":650,"y":100,"wires":[["37ac6a28.e5c356","cda53612.b4ca58"]]},{"id":"2f07cea1.5f0ed2","type":"ui_text","z":"23b38645.a08baa","group":"282149bd.e3ebf6","order":2,"width":0,"height":0,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-spread","x":480,"y":360,"wires":[]},{"id":"37ac6a28.e5c356","type":"debug","z":"23b38645.a08baa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":40,"wires":[]},{"id":"f901db52.f6b358","type":"ui_text","z":"23b38645.a08baa","group":"282149bd.e3ebf6","order":3,"width":16,"height":5,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"col-center","x":1020,"y":360,"wires":[]},{"id":"282149bd.e3ebf6","type":"ui_group","z":"","name":"Chatbot","tab":"1099fd4e.c959f3","order":1,"disp":true,"width":16,"collapse":false},{"id":"1099fd4e.c959f3","type":"ui_tab","z":"","name":"Customer care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]